<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <i class="fa fa-home"></i>
              Home
              <span class="sr-only">(current)</span>
              </a>
          </li>
          <% if user_signed_in?%>
            <%if current_user.has_role? :captain%>
              <li class="nav-item">
                <a class="nav-link" href="/team_invitations">
                  <i class="fa fa-envelope-o">
                    <span class="badge badge-danger"><%=current_user.member.team.team_invitations.where(accepted_at: nil).count %></span>
                  </i>
                  requests
                </a>
              </li>
            <% end %>
            <% if current_user.member.has_team?%>
              <li class="nav-item">
                <a class="nav-link" href="/teams/<%=current_user.member.team.id%>">
                  <i class="fa fa-users"></i>
                  Team
                </a>
              </li>
            <%end%>
          <%end%>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-envelope-o">
                
              </i>
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ">
        <% if user_signed_in? %>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <li class="nav-item">
            <%= link_to destroy_user_session_path,class: 'nav-link', :method => :delete do %>
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Cerrar sesión
            <%end%>
          </li>
        <%else%>
         <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              Iniciar sesión
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
              <i class="fa fa-user-o" aria-hidden="true"></i>
              Registrarse
            <%end%>
          </li>
        <%end%>
        </ul>
        
      </div>
    </nav>